opencv-python-headless==4.11.0.86
git+https://github.com/Genesis-Embodied-AI/Genesis.git@1249131
numpy==2.2.6
torch==2.7.1
rsl-rl-lib==2.3.3
git+https://github.com/pavelacamposp/direct-data-driven-mpc.git@94150cc
ruff==0.12.1
mypy==1.16.1
yamllint==1.37.1
pytest==8.4.1
coverage==7.9.1
